<!-- tongji start -->
<div style="display: none;">
	<!-- Baidu Tongji Start -->
	<script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F54170c312474d09beedf391b777226cd' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<!-- Baidu Tongji End -->
	<!-- Google Analytics Start -->
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-17220382-2']);
		_gaq.push(['_setDomainName', '.fengxiaoqiang.com']);
		_gaq.push(['_addOrganic', 'soso', 'w']);
		_gaq.push(['_addOrganic', 'youdao', 'q']);
		_gaq.push(['_addOrganic', 'sogou', 'query']);
		_gaq.push(['_trackPageview']);
		_gaq.push(['_trackPageLoadTime']);
		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	<!-- Google Analytics End -->
</div>
<!-- tongji start -->